/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#lblTitle {
	-fx-font-family: "Jua-Regular";
}

#lblCurrentPlant {
}

#lblSurveyTime {
	-fx-font-size: 10pt;
}

#lblcl {
}

#lblph {
}

#lbltb {
}

#Mainanchorpane {
	-fx-background-color: #ffffff;
}